@import "tailwindcss";


body, html, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body {
    
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;


  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}